<div class="container">
    <div class="content">
        <div class="string"></div>
        <img src="assets/logos/LogoTapiocas.png" alt="">
        <div class="string"></div>
    </div>
    <div class="contentCards">
        <div class="flex">
            <div class="cardTapioca">
                <img src="https://vitat.com.br/receitas/images/recipeshandler.jpg?id=9259&tipo=r&default=s" alt="">
                <div class="info">
                    <p class="NomeTapioca">Tapioca de Coco</p>
                    <p class="descrição">Coco ralado.</p>
                    <div class="adicionarPedido">
                        <button class="adicionar">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
