.container{

}

.content{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.contentCards{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.content img{
    height: 90px;
    width: 270px;
    margin-top: 40px;
}

.string{
    border-bottom: 7px solid black;
    width: 550px;
    border-radius: 5px;
    margin-bottom: 45px;
}

.cardTapioca{
    width: 350px;
    height: 190px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
}

.cardTapioca img{
    width: 175px;
    height: 100%;
}

.info{
    color: white;
    width: 100%;
}

.NomeTapioca{
    border-bottom: 1px solid white;
    text-align: center;
    margin-top: 10px;
}

.flex{
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.descrição{
    color: aliceblue;
    font-size: 14px;
}

.adicionarPedido{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    margin-top: 30px;
}

.adicionar{
    font-size: 18px;
    color: aliceblue;
    width: 140px;
    height: 50px;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;

}