<div class="container">
    <div class="content">
        <div class="listaPedidos">
            <div class="pedidos"><div class="preço">23R$</div><p class="nomePedido">Margherita 1X</p><i class="material-icons">delete</i></div>
            <div class="pedidos"><div class="preço">13R$</div><p class="nomePedido">Batata Média 1X</p><i class="material-icons">delete</i></div>
            <div class="pedidos"><div class="preço">26R$</div><p class="nomePedido">Mussarela 1X</p><i class="material-icons">delete</i></div>
            <div class="pedidos"><div class="preço">23R$</div><p class="nomePedido">Banana 1X</p><i class="material-icons">delete</i></div>
            <div class="pedidos"><div class="preço">30R$</div><p class="nomePedido">Kit & Kat 1X</p><i class="material-icons">delete</i></div>
        </div>
        <div class="pedidoTotal">
            <p class="total">Total: 115,00 R$</p>
        </div>
        <div class="formasDePagamento">
            <div class="formas" id="pix" (click)="opcaoPix()" value="pix">
                <img src="assets/logos/pix_icon_198027.png" alt="">
            </div>
            <div class="formas" id="cartao" (click)="opcaoCartao()" value="cartao">
                <img src="assets/logos/cartaodecredito_icon.png" alt="" id="cartaov2">
            </div>
            <div class="formas" id="dinheiro" (click)="opcaoDinheiro()" value="dinheiro">
                <img src="assets/logos/png-transparent-computer-icons-bank-money-bank-saving-text-hand-removebg-preview.png" alt="" id="dinheirov2">
            </div>
        </div>
        <div class="flex">
            <button id="enviarMsg">Enviar Pedido<img src="assets/logos/imagem_2023-10-25_211407807-removebg-preview.png" alt=""></button>
        </div>
    </div>
</div>
<app-pedidos-compartilhamento [oi]="contador"></app-pedidos-compartilhamento>