<menu>
    <div class="container">
        <div class="logoPizzaria">
            <img src="assets/logos/DomMacielLogo.png" alt="">
        </div>
        <a href="#pizzasSalgada" class="option">Pizzas</a>
        <a href="#pizzasDoce" class="option"> Pizzas doce </a>
        <a href="#fritas" class="option"> Fritas </a>
        <a href="#cuscuzRecheado" class="option"> Cuscuz recheado </a>
        <a href="#cuscuzGourmet" class="option"> Cuscuz gourmet </a>
        <p class="option"> Tapiocas </p>
        <p class="option"> Milkshakes </p>
        <p class="option"> Bebidas </p>
    </div>
</menu>
<div id="pizzasSalgada"></div>
<div id="pizzasDoce"></div>
<div id="fritas"></div>
<div id="cuscuzRecheado"></div>
<div id="cuscuzGourmet"></div>