<menu>
    <div class="container">
        <div class="logoPizzaria">
            <img src="assets/logos/DomMacielLogo.png" alt="">
        </div>
        <p class="option"> Pizzas </p>
        <p class="option"> Pizzas doce </p>
        <p class="option"> Fritas </p>
        <p class="option"> Cuscuz gourmet </p>
        <p class="option"> Cuscuz recheado </p>
        <p class="option"> Tapiocas </p>
        <p class="option"> Milkshakes </p>
        <p class="option"> Bebidas </p>
    </div>
</menu>