<div class="logoPizzaDoce">
    <div class="string"></div>
    <img src="assets/logos/pizzaDoce.png" alt="">
    <div class="string"></div>
</div>
<div class="container">
    <div class="content">
        <div class="cardPizzaDoce">
            <img src="https://t2.uc.ltmcdn.com/pt/posts/4/8/1/como_fazer_pizza_de_banana_27184_orig.jpg" alt="">
            <p class="nomeDaPizza">Banana</p>
            <p class="ingredientes">Queijo muçarela, banana, leite condensado, açúcar e canela.</p>
            <div class="flex">
                <button class="adicionar">Adicionar<i class="material-icons">shopping_cart</i>
                </button>
                <div class="quantidade">
                    <div class="quantidadeContent">
                        <div class="mais">+</div>
                        <div class="quantas">1</div>
                        <div class="menos">-</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardPizzaDoce">
            <img src="https://t2.uc.ltmcdn.com/pt/posts/4/8/1/como_fazer_pizza_de_banana_27184_orig.jpg" alt="">
            <p class="nomeDaPizza">Banana</p>
            <p class="ingredientes">Queijo muçarela, banana, leite condensado, açúcar e canela.</p>
            <div class="flex">
                <button class="adicionar">Adicionar<i class="material-icons">shopping_cart</i>
                </button>
                <div class="quantidade">
                    <div class="quantidadeContent">
                        <div class="mais">+</div>
                        <div class="quantas">1</div>
                        <div class="menos">-</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardPizzaDoce">
            <img src="https://t2.uc.ltmcdn.com/pt/posts/4/8/1/como_fazer_pizza_de_banana_27184_orig.jpg" alt="">
            <p class="nomeDaPizza">Banana</p>
            <p class="ingredientes">Queijo muçarela, banana, leite condensado, açúcar e canela.</p>
            <div class="flex">
                <button class="adicionar">Adicionar<i class="material-icons">shopping_cart</i>
                </button>
                <div class="quantidade">
                    <div class="quantidadeContent">
                        <div class="mais">+</div>
                        <div class="quantas">1</div>
                        <div class="menos">-</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardPizzaDoce">
            <img src="https://t2.uc.ltmcdn.com/pt/posts/4/8/1/como_fazer_pizza_de_banana_27184_orig.jpg" alt="">
            <p class="nomeDaPizza">Banana</p>
            <p class="ingredientes">Queijo muçarela, banana, leite condensado, açúcar e canela.</p>
            <div class="flex">
                <button class="adicionar">Adicionar<i class="material-icons">shopping_cart</i>
                </button>
                <div class="quantidade">
                    <div class="quantidadeContent">
                        <div class="mais">+</div>
                        <div class="quantas">1</div>
                        <div class="menos">-</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>