@import '~material-icons/iconfont/material-icons.css';

.container{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.content{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    gap: 25px;
}

.cardPizzaDoce{
    margin-top: 130px;
    margin-bottom: -100px;
    height: 340px;
    width: 250px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.459);
    overflow: hidden;
}

.cardPizzaDoce img{
    height: 160px;
    width: 100%;
    border-bottom: 1px solid rgb(49, 49, 49);
}

.logoPizzaDoce{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}

.logoPizzaDoce img{
    margin-top: 140px;
    width: 310px;
    height: 120px;
    margin-bottom: -80px;
}

.string{
    width: 550px;
    border-bottom: 7px solid black;
    border-radius: 5px;
}

@import '~material-icons/iconfont/material-icons.css';

.cardPizzaSalgada{
    margin-top: 130px;
    margin-bottom: -100px;
    height: 340px;
    width: 250px;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.459);
    overflow: hidden;
}

.ImagemPizzaSalgada{
    width: 100%;
    height: 48%;
    background-color: aliceblue;
    border-bottom: 1px solid rgb(43, 42, 42);
}

.infoPizza{
    height: 52%;
    width: 100%;
}

.nomeDaPizza{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 26px;
}

.nomeDaPizzaFix{
    color: white;
    text-align: center;
    margin-top: 8px;
    font-size: 26px;
}

.nomeDaPizzaFixV2{
    color: white;
    text-align: center;
    margin-top: 2px;
    font-size: 25px;
}

.nomeDaPizzaFixV3{
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 26px;
}

.ingredientes{
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    width: 220px;
    margin-left: 15px;
}

.ingredientesFix{
    color: white;
    text-align: center;
    margin-top: 7px;
    font-size: 14px;
    width: 220px;
    margin-left: 15px;
}

.ingredientesFixV2{
    color: white;
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
    width: 220px;
    margin-left: 15px;
}

.fotoPizza{
    height: 100%;
    width: 270px;
}

.adicionar{
    margin-top: 20px;
    width: 130px;
    height: 50px;
    margin-left: 5px;
    border-radius: 13px;
    border: 1px solid white;
    font-size: 16px;
    color: aliceblue;
    background-color: black;
    transition: 0.2s ease;
    text-align: left;
    padding-left: 18px;
}

.adicionar:hover{
    cursor: pointer;
    scale: 1.05;
    background-color: rgb(14, 13, 13);
}

.preço{
    padding-top: 12px;
    text-align: center;
    margin-top: 8px;
    margin-left: 195px;
    height: 33px;
    width: 45px;
    position: absolute;
    background-color: black;
    color: aliceblue;
    border-radius: 50%;
    border-bottom: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    font-size: 18px;
    z-index: 0;
}

.quantidade{
    display: flex;
}

.quantidadeContent{
    background-color: white;
    height: 35px;
    width: 100px;
    margin-top: 27px;
    margin-left: 10px;
    border-radius: 5px;
    display: flex;
}

.flex{
    display: flex;
}

.flexFix{
    margin-top: -14px;
    position: absolute;
    display: flex;
}

.mais{
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 26px;
    width: 30px;
    border-radius:  5px 0px 0px 5px;
    transition: 0.2s ease;
}

.menos{
    transition: 0.2s ease;
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 26px;
    width: 30px;
    border-radius:  0px 5px 5px 0px;
}

.quantas{
    padding-top: 9px;
    text-align: center;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 26px;
    width: 40px;
}

.menos:hover, .mais:hover{
    background-color: rgb(17, 17, 17);
    cursor: pointer;
}

.material-icons{
    font-size: 18px;
    margin-left: 5px;
    margin-top: px;
    position: absolute;
}

/**/
