<div class="container">
    <div class="content">
        <div>
            <app-card-pizza (enviarInfos)="handleReceberInfoPizza($event)"></app-card-pizza>
            <app-pizzas-doces (enviarInfos)="handleReceberInfoPizzaDoce($event)"></app-pizzas-doces>
            <app-fritas (enviarInfos)="handleReceberInfoBatataFrita($event)"></app-fritas>
            <app-cuscuz-gourmet></app-cuscuz-gourmet>
            <app-tapiocas></app-tapiocas>
        </div>
    </div>
</div>
<app-finalizar-pedido [contagem]="pedidosContados" id="finalizarPedido" (click)="toggleVisibility()"></app-finalizar-pedido>
<div class="containerAreaDePagamento" [ngStyle]="{'display': isVisible ? 'block' : 'none'}">
    <div class="contentAreaDePagamento">
        <div class="listaPedidos">
            <div class="pedidos" *ngFor="let item of pedidos; let i = index">
                <div>
                    <div class="preço">R$ {{ item.preco }}</div>
                    <p class="nomePedido">{{ item.nome }} x{{ item.quantidade }}</p>
                    <i class="material-icons" (click)="removerItem(i, item)">delete</i>
                </div>
            </div>
        </div>
        <div class="pedidoTotal">
            <p class="total">{{ total }}R$</p>
        </div>
        <div class="formasDePagamento">
            <div class="formas" id="pix" (click)="opcaoPix()" [ngStyle]="{'background-color': minhaCorPix}">
                <img src="assets/logos/pix_icon_198027.png" alt=""  draggable="false" >
            </div>
            <div class="formas" id="cartao" (click)="opcaoCartao()" [ngStyle]="{'background-color': minhaCorCartao}">
                <img src="assets/logos/cartaodecredito_icon.png" alt="" id="cartaov2"  draggable="false">
            </div>
            <div class="formas" id="dinheiro" (click)="opcaoDinheiro()" [ngStyle]="{'background-color': minhaCorDinheiro}">
                <img src="assets/logos/png-transparent-computer-icons-bank-money-bank-saving-text-hand-removebg-preview.png" alt="" id="dinheirov2"  draggable="false">
            </div>
        </div>
        <div class="flex">
            <button id="enviarMsg" (click)="enviarPedido()"><a [attr.href]="linkDinamico" target="_blank">Enviar Pedido</a><img src="assets/logos/imagem_2023-10-25_211407807-removebg-preview.png" alt=""></button>
        </div>
        <div class="flex">
            <p style="color: white; margin-top: 25px; margin-right: 4px;">NOME CLIENTE : </p>
            <input type="text" id="nomeCliente">
        </div>
        <div class="flex">
            <p style="color: white; margin-top: 25px; margin-right: 4px;">ENDEREÇO : </p>
            <input type="text" id="endereco">
        </div>
    </div>
</div>
