<div class="logoCuscuz">
    <div class="string"></div>
    <img src="assets/logos/cuscuzrecheado.png" alt="">
    <div class="string"></div>
</div>
<div class="container">
    <div class="cuscuz">
        <img src="https://www.deline.com.br/assets/images/recipes/cuscuz-recheado-de-frango/mobile/thumb-video.jpg?v3" alt="">
        <div class="preço">10R$</div>
        <div class="tittle">
            <p>Cuscuz Recheado</p>
        </div>
        <div class="stringV2"></div>
        <div class="alerta">
            <p>Selecione pelo menos 2 recheios para adicionar</p>
        </div>
        <div class="stringV2"></div>
        <button class="adicionarCuscuz">Adicionar<i class="material-icons">shopping_cart</i></button>
    </div>
    <div class="content">
        <div class="flex">
            <p class="recheioP">RECHEIOS</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Calabresa</p>
            <p class="opcaoRecheio">Carne de Sol +4</p>
            <p class="opcaoRecheio">Catupiry</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Charque +4</p>
            <p class="opcaoRecheio">Carne Moída</p>
            <p class="opcaoRecheio">Bacon +3</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Frango</p>
            <p class="opcaoRecheio">Cheddar</p>
            <p class="opcaoRecheio">Queijo Muçarela</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Queijo Muçarela</p>
        </div>
    </div>
</div>