.container{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    gap: 25px;
}

.logoCuscuz{
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    gap: 25px;
    margin-top: 140px;
}

.logoCuscuz img{
    width: 260px;
    height: 110px;
}

.string{
    width: 550px;
    border-bottom: 7px solid black;
    margin-bottom: 38px;
    border-radius: 5px;
}