<div class="logoCuscuz">
    <div class="string"></div>
    <img src="assets/logos/cuscuzrecheado.png" alt="">
    <div class="string"></div>
</div>
<div class="container">
    <div class="cuscuz">
        <img src="https://www.deline.com.br/assets/images/recipes/cuscuz-recheado-de-frango/mobile/thumb-video.jpg?v3" alt="">
        <div class="preço">10R$</div>
        <div class="tittle">
            <p>Cuscuz Recheado</p>
        </div>
        <div class="stringV2"></div>
        <div class="alerta">
            <p>Selecione pelo menos 2 recheios para adicionar</p>
        </div>
        <div class="stringV2"></div>
        <button class="adicionarCuscuz">Adicionar<i class="material-icons">shopping_cart</i></button>
    </div>
    <div class="content">
        <div class="flex">
            <p class="recheioP">RECHEIOS</p>
        </div>
        <div class="alertaV3">
            <p>Selecione 2 recheios para acompanhar</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio" (click)="pegarValor('Calabresa')">Calabresa</p>
            <p class="opcaoRecheio" (click)="pegarValor('Carne de Sol')">Carne de Sol +4</p>
            <p class="opcaoRecheio" (click)="pegarValor('Catupiry')">Catupiry</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio" (click)="pegarValor('Charuqe +4')">Charque +4</p>
            <p class="opcaoRecheio" (click)="pegarValor('Carne Moída')">Carne Moída</p>
            <p class="opcaoRecheio" (click)="pegarValor('Bacon +3')">Bacon +3</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio" (click)="pegarValor('Frango')">Frango</p>
            <p class="opcaoRecheio" (click)="pegarValor('Cheddar')">Cheddar</p>
            <p class="opcaoRecheio" (click)="pegarValor('Queijo Muçarela')">Queijo Muçarela</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio" (click)="pegarValor('Queijo Coalho')">Queijo Coalho</p>
        </div>
    </div>
</div>
<div class="logoCuscuzGourmet">
    <div class="string"></div>
    <img src="assets/logos/cuscuzgourmet.png" alt="">
    <div class="string"></div>
</div>
<div class="containerV2">
    <div class="cardPrincipal">
        <div class="cuscuzGourmet">
            <img src="https://www.deline.com.br/assets/images/recipes/cuscuz-recheado-de-frango/mobile/thumb-video.jpg?v3" alt="">
            <div class="preço">16R$</div>
            <div class="tittle">
                <p>Cuscuz Gourmet</p>
            </div>
            <div class="stringV2"></div>
            <div class="alerta">
                <p>Selecione pelo 1 opção de cuscuz</p>
            </div>
            <div class="stringV2"></div>
            <button class="adicionarCuscuz">Adicionar<i class="material-icons">shopping_cart</i></button>
        </div>
        <div class="flex">
            <p class="AdicionaisP">Adicionais</p>
        </div>
        <div class="adicionais">
            <div class="containerAdicionais">
                <p class="opcaoRecheio">Azeitona R$2</p>
                <p class="opcaoRecheio">Bacon R$2</p>
                <p class="opcaoRecheio">Salsicha R$2</p>
                <p class="opcaoRecheio">Catupiry R$2</p>
                <p class="opcaoRecheio">Cheddar R$2</p>
                <p class="opcaoRecheio">Banana Frita R$2</p>
            </div>
            <div class="containerAdicionais">
                <p class="opcaoRecheio">Calabresa R$2</p>
                <p class="opcaoRecheio">Milho R$2</p>
                <p class="opcaoRecheio">Frango R$2</p>
                <p class="opcaoRecheio">Ovo Frito R$2</p>
                <p class="opcaoRecheio">Queijo Coalho R$2</p>
                <p class="opcaoRecheio">Carne de Sol R$4</p>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="flex">
            <p class="recheioP">RECHEIOS</p>
        </div>
        <div class="alertaV3">
            <p>Selecione 1 opção de cuscuz</p>
            <p>Selecione 2 opções de carne</p>
            <p>Selecione 2 acompanhamentos e vinagrete</p>
        </div>
        <div class="flex">
            <p class="TittleP">Carnes</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Calabresa</p>
            <p class="opcaoRecheio">Carne Moída</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Salsicha</p>
            <p class="opcaoRecheio">Frango</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Bacon</p>
            <p class="opcaoRecheio">Ovo</p>
        </div>
        <div class="flex">
            <p class="TittleP">Acompanhamento</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Azeitona</p>
            <p class="opcaoRecheio">Banana Frita</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Cheddar</p>
            <p class="opcaoRecheio">Milho</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Queijo Muçarela</p>
            <p class="opcaoRecheio">Queijo Coalho</p>
        </div>
        <div class="flex">
            <p class="opcaoRecheio">Catupiry</p>
        </div>
    </div>
</div>